<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- to do JS -->
<form method="post" action="#" id="myForm">
    To add new user please fill the form:</p>

    <label for="firstName">Fill firstName</label>
    <input id="firstName" type="text" name="firstName"></p>

    <label for="lastName">Fill lastName</label>
    <input id="lastName" type="text" name="lastName"></p>

    <label for="departmentId">Fill Department id</label>
    <input id="departmentId" type="text" name="departmentId"></p>

    <label for="gender">Fill gender M or F</label>
    <input id="gender" type="text" name="gender"></p>

    <label for="birthday">Fill birthday yyyy-mm-dd</label>
    <input id="birthday" type="text" name="birthday"></p>

    <p><input type="submit" name="sendBtn" value="Send"/></p>
</form>

<script type="text/javascript" src="jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="jquery.json-1.3.js"></script>
<script type="text/javascript">
    $(function () {
        $("#myForm").submit(function () {
            var formData = {
                  "firstName": $("#firstName").val()
                , "lastName": $("#lastName").val()
                , "departmentId": $("#departmentId").val()
                , "gender": $("#gender").val()
                , "birthday": $("#birthday").val()
            };
            $.ajax({
                url: 'http://localhost:8090/employees'
                , type: 'POST'
                , data: 'jsonData=' + $.toJSON(formData)
                , success: function (res) {
                    alert(res);
                }
            });
            return false;
        });
    });
</script>


</body>
</html>