<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var variable = localStorage["name"];
            localStorage.clear();
            url = "http://localhost:8050/employees/" + variable;
            fetch(url, {method: 'DELETE'
            })
            $("#employeesJson").append("User with id: "+ variable + ": was successfully deleted");
        })

    </script>
</head>
<body>

<div
        id="employeesJson"></div>
</body>
</html>
