<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var variable = localStorage["name"];
            localStorage.clear();
            $(function () {
                $.getJSON("http://localhost:8090/employees/" + variable,
                    function (result) {
                        $.each(result, function (key, value) {
                            $("#employeesJson").append(key + ":" + value + "<br \\/>");
                        });
                    });
            });
        });
    </script>
</head>
<body>

<div
        id="employeesJson"></div>
</body>
</html>
