<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>
    <div>
        To update user please fill the form:</p>
        <label for="example">Fill the id number</label>
        <input id="example" type="text" name="text"></p>

        <label for="firstName">Fill firstName</label>
        <input id="firstName" type="text" name="text"></p>

        <label for="lastName">Fill lastName</label>
        <input id="lastName" type="text" name="text"></p>

        <label for="departmentId">Fill Department id</label>
        <input id="departmentId" type="text" name="text"></p>

        <label for="gender">Fill gender M or F</label>
        <input id="gender" type="text" name="text"></p>

        <label for="bithday">Fill birthday yyyy-mm-dd</label>
        <input id="bithday" type="text" name="text"></p>
        <p><input type="submit" name="sendBtn" value="Send"/></p>
    </div>

</form>


</body>
</html>